
/InsightInvoice/obj
/InsightInvoice/bin
/InsightInvoice.Output/obj
/InsightInvoice.Output/bin
/InsightInvoice.Tests/obj
/InsightInvoice.Tests/bin
/TestResults
/packages
/.vs
/InsightInvoice.Tests/InsightInvoice.Tests.csproj.user
/InsightInvoice.Output/InsightInvoice.Output.csproj.user
/InsightInvoice/InsightInvoice.csproj.user
